:root {
--border-big-black: 2px solid black;
--border-small-black: 1px solid black;
--width-20: 20%;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
}

header {
    height: 10vh;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
}

.flexpapa {
    display: flex;
}


#searchBox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    width: 25vw;
    height: 25vh;
    border: var(--border-big-black);
}

.searchBox h2 {
    font-size: 30px;
}

.label {
    display: block;
    text-align: center;
}

form button {
    width: 165px;
}

#cityList {
    margin: 10px;
    width: 25vw;
    height: 60vh;
    border: var(--border-big-black);
    padding: 0 10px 0 0;
    text-align: center;

}

#presentWeather {
    margin: 10px;
    width: 72vw;
    height: 30vh;
    border: var(--border-big-black)
}

#fiveDayForecast {
    margin: 10px;
    width: 72vw;
    height: 55vh;
    border: var(--border-big-black);
    display: flex;
    
}

#tomorrow { 
    border: var(--border-small-black);
    width: var(--width-20);
    
}

#future1 {
    border: var(--border-small-black);
    width: var(--width-20);
    

}

#future2 {
    border: var(--border-small-black);
    width: var(--width-20);
}

#future3 {
    border: var(--border-small-black);
    width: var(--width-20);
}

#future4 {
    border: var(--border-small-black);
    width: var(--width-20);
}